[submodule "dependencies/gtest"]
	path = dependencies/gtest
	url = https://github.com/google/googletest.git
[submodule "dependencies/nuklear"]
	path = dependencies/nuklear
	url = https://github.com/vurtun/nuklear.git
